.debug {
  * {
    border: 1px dashed;
  }

  header {
    background-color: antiquewhite;
    height: 70px;

    .left-menu,
    .right-menu {
      background-color: aquamarine;
    }
  }

  section {
    background-color: cadetblue;
    height: auto;
    margin: 100px 0;

    .container {
      background-color: brown;
      height: 100%;
    }

    .container-sm {
      background-color: yellowgreen;
    }
 
  }

  .row {
    background-color: cornflowerblue;
  }

  .col-33{
    background-color: tomato;
    height: 600px;

  }

  .col-100 {
    background-color: crimson ;
    height: 200px;
  }
  
  .col-header {
    background-color: bisque;
    height: 40px;
  }
  
  .partner-col {
      background-color: turquoise;
      height: 400px;
  }

  #business h2 {
    height: 50px;
  }

  #business .col-33 {
    background-color: rgb(45, 83, 117);
    height: 400px;
    margin: 20px 0;
  }

  .client-container {
    height: 200px;
  }

  footer {
    background-color: black;
    height: 400px;

    span {
      background-color: white;
      height: 100px;
      width: 100px;
    }
  }

  .col-foot {
    background-color: wheat;
    height: 200px;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
  }
}

ul {
  list-style: none;

  li {
    text-align-last:inherit;
  }
}

section {
  padding: 100px 0;
}

hr {
  width: 30%;
  margin: 30px 20px;
}

h1, h2, h3, p {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: black;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}



.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  margin-right: 10px;
}

.menu {
  align-items: center;
}

.btn {
  padding: 8px 12px;
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  display: block;
}

.btn-blue {
  background-color: #0061FE;
  color: white;
}

.btn-login {
  
}

.btn-trial {
  margin: 20px 0;
  background-color: #0061FE;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-sm {
  width: 60%;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

#jumbotron {
  background-color: #B4D0E6;
}

.row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  border: 1px solid grey;

  .col-header {
    border-bottom: 1px solid grey;
  }

  .col-body {
      padding: 20px;
  }
}

.col-33 {
  width: calc(100% / 3 - 1rem);
  margin: 30px 0;
}

.col-100 {
  width: 100%;
}

.col-foot {
  width: calc(100% / 5);
  margin-right: 30px;
}

.col-header {
  text-align: center;
  padding: 10px;
}

.radio-btns {
  label {
    margin-right: 10px;
  }
}

.partner-cont {
  justify-content: space-between;
}

.partner-col {
  padding-right: 30px;
}

.partner-text {
  width: 50%;
}

footer {
  color: white;
  padding: 50px 0;
  
  .language {
    display: block;
  }

}

.fa-check {
  color: blue;
}

.btn-partner {
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0;
}

#client h1 {
  margin-bottom: 50px;
}

.period {
  display: block;
  color: lightgrey;
}

.columns {
  margin-bottom: 20px;
}

.language {
  width: 10%;
  padding: 50px 0;
  border-top: 1px solid white;
}

.margin {
  margin: 20px 0;
}